.contact-us-page #mobile{margin-top:10.31vh;height:68.9vh;width:77.8vw}.contact-us-page #web{display:none}.contact-us-page{display:flex;flex-direction:column;justify-content:center;align-items:center}@media screen and (min-width:500px){.contact-us-page #mobile{display:none}.contact-us-page #web{display:flex;height:90vh;width:80vw}}
/*# sourceMappingURL=10.656de72e.chunk.css.map */