.join-us-page #mobile{margin-top:10.31vh;height:63.6vh;width:77.78vw}.join-us-page #web{display:none}.join-us-page{display:flex;flex-direction:column;justify-content:center;align-items:center}@media screen and (min-width:500px){.join-us-page #mobile{display:none}.join-us-page #web{display:flex;height:90vh;width:80vw}}
/*# sourceMappingURL=11.f67dc483.chunk.css.map */