#customers #web {
  display: flex;
  height: 90vh;
  width: 70vw;
}

#customers #web-all {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

button{
  background-color: transparent;
  border-color: transparent;
}

#toggle{
  height: 5vh;
  width: 10vw;
}

#customers #mobile {
  display: flex;
  height: 95vh;
}

#customers #mobile-safari{
  display: flex;
  height: 80vh;
}


#footer {
  margin-top: 8vh;
  height: 20vh;
  width: 100vw;
}
#footer-mobile {
  height: 20vh;
  width: 100vw;
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
}

#background {
  width: 100vw;
  height: 100vh;
  position:absolute;
}

#customers{
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  position: relative;
}

#to-top{
  display: flex;
  justify-content: center;
  align-items: center;
  border: 0.5px solid rgba(255, 255, 255, 0.71);
  color: white;
  font-weight: bold;
  border-radius: 1px;
  background-color: transparent;
  height: 5vh;
  width: 5vh;
  margin-right: 5vw;
  font-size: 1.3vw;
  transition: 1s;
  cursor: pointer;
}

#to-top:hover{
  border: 0.5px solid #FFFFFF;
  color: black;
  background-color: white;
  cursor: pointer;
}

#to-top-mobile{
  display: flex;
  justify-content: center;
  align-items: center;
  border: 0.5px solid #FFFFFF;
  color: white;
  font-weight: bold;
  border-radius: 1px;
  background-color: transparent;
  height: 5vh;
  width: 5vh;
  margin-right: 10vw;
  font-size: 5vw;
  transition: 1s;
}

#to-top-mobile:hover{
  border: 0.5px solid #FFFFFF;
  color: black;
  background-color: white;
}


#clients-title-desktop {
  color: white;
  font-family: iran-yekan, serif;
  font-weight: bold;
  font-size: 1.5vw;
  position: absolute;
  margin-top: -80vh;
}

#clients-desktop {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 5vh;
}

#clients-page-desktop {
  margin-top: 5vh;
  display: flex;
  flex-direction: column;
  float: start;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 90vh;
}

.client-desktop {
  transition: 0.5s;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0.9vw;
  width: 7vw;
  height: 7vw;
  cursor: pointer;
  border: 1px solid rgba(85, 162, 231, 0.6);
}

.client-desktop:hover{
  transform: scale(1.4);
  background-color: #1E252F;
}

.normal-clients-table {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.clients-row-desktop {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.center-logo {
  width: 11vw;
  height: auto;
  margin: 1vw;
  cursor: pointer;
  transition: 0.5s;
  position: absolute;
}

#client-center:hover {
  transform: scale(1.15);
  background-color: #1E252F;
}

#secondary-clients-table{
  display: none;
}

#client-center {
  transition: 0.5s;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0.9vw;
  width: 16vw;
  height: 16vw;
  cursor: pointer;
  border: 1px solid rgba(85, 162, 231, 0.6);
}

#keshvar-center {
  width: 9vw;
}

#varzesh-center {
  width: 8vw;
}

.center-logo {
  opacity: 0;
}

@import "center-animation";
@import "client-images-desktop";
@import "clients-mobile";
