@font-face{
  font-family: iran-yekan;
  src: url(../../assets/fonts/IRANYekan.ttf);
}

#footer{
  height:12vw;
  border-style: solid;
  border-top-color: rgba(255, 255, 255, 0.25);
  border-width: 0.5px;
}

#company{
  color: white;
  font-family: iran-yekan, serif;
  font-size: 0.9vw;
  height:2.7777777777777777vh;
  width:15.625vw;
  direction: rtl;
}

#footer-title{
  color: white;
  font-family: iran-yekan, serif;
  font-size: 1vw;
}

#contact-text{
  color: white;
  font-family: iran-yekan, serif;
  width:4.5vw;
  font-size: 1vw;
}

#join-text{
  color: white;
  font-family: iran-yekan, serif;
  font-size: 1vw;
  width:5.078125vw;
}

#email{
  color: white;
  font-family: iran-yekan, serif;
  font-size: 1.1vw;
  margin-top: 1.6vw;
  width:9.375vw;
}

#icon-title-footer{
  position: absolute;
  display: flex;
  margin-top:3vh;
  margin-right:7.8125vw;
  margin-left:87.109375vw;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

#icon-footer {
  margin-top: 0.35vw;
  height:3vw;
  width:3.7vw;
}

#contact-footer {
  position: absolute;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: column;
  margin-top:3vh;
  margin-right:58.59375vw;
  margin-left:39.0625vw;
}

#email-footer{
  position: absolute;
  display: flex;
  margin-right:74.21875vw;
  margin-top:3.3vh;
  margin-left:10.546875vw;
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: column;
}

a{
  text-decoration: none;
}

#email:hover{
  color: #7ab8ff;
}

#contact-text:hover{
  color: #7ab8ff;
}

#join-text:hover{
  color: #7ab8ff;
}
