@font-face{
  font-family: iran-yekan;
  src: url(../assets/fonts/IRANYekan.ttf);
}

#abilities-title{
  color: #26FF7B;
  font-style: normal;
  font-weight: bold;
  font-size: 1.8vw;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: iran-yekan, serif;
}

#abilities-title-space{
  height: 3vw;
}

#abilities{
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#side{
  margin-top: 50vh;
  position: absolute;
  height:80.55555555555556vh;
  width:99.5vw;
  display: flex;
  justify-content: end;
  flex-direction: row;
  align-items: end;
}

#side-main{
  height:85vh;
  width:18vw;
}

.ability-group{
  display: flex;
  justify-content: center;
  align-items: end;
  flex-direction: column;
  height:33vh;
  width:20vw;
}

.black-text{
  direction: rtl;
  color: #26FF7B;
  transition: 0.1s ease-in-out;
  transform: scaleX(1);
  background-color: transparent;
  transform-origin: right;
  left: 0;
  font-family: iran-yekan, serif;
  font-style: normal;
  font-weight: bold;
  z-index: 1;
  font-size: 1.1vw;
}

.black-text-background{
  direction: rtl;
  color: transparent;
  transition: 1s ease-in-out;
  transform: scaleX(1);
  background-color: #26FF7B;
  transform-origin: right;
  z-index: -1;
  position: absolute;
  top: 0;
  left: 0;
  font-family: iran-yekan, serif;
  font-style: normal;
  font-weight: bold;
  font-size: 1.1vw;
}

.title-stack{
  display: flex;
  position: relative;
  flex-direction: column;
}

.white-text{
  color: white;
  direction: rtl;
  font-family: iran-yekan, serif;
  font-style: normal;
  font-weight: normal;
  font-size: 1vw;
  width: 15vw;
}

#abilities-wrapper{
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  width:55vw;
}

.ability-icon{
  height:6.944444444444445vh;
  width:3.90625vw;
}

@media screen and (max-width: 500px){
  #abilities-title{
    font-size: 5.3vw;
  }

  #side{
    display: none;
    margin-top: -190vh;
    height:100vh;
    width:99.5vw;
  }

  #side-main{
    height:100vh;
    width:45vw;
  }

  #abilities-wrapper{
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width:55vw;
  }

  .ability-group{
    height:31.690140845070424vh;
    width:72.22222222222221vw;
  }

  .black-text{
    font-size: 4.1vw;
  }

  .black-text-background{
      font-size: 4.1vw;
  }

  .white-text{
    font-size: 4vw;
    width: 70vw;
  }

  .ability-icon{
    height:8vh;
    width:13vw;
  }

  #abilities-title-space{
    height: 12vh;
  }
}
