#catalog {
  width: 75vw;
  justify-content: space-around;
  align-items: center;
  display: flex;
  height: 30vh;
  margin-left: 12.5vw;
  background-color: #181818;
  border-radius: 20px;
  flex-direction: row-reverse;
}

#catalog-right {
  display: flex;
  justify-content: center;
  align-items: end;
  flex-direction: column;
}

#catalog-description {
  color: rgb(255, 255, 255);
  letter-spacing: 0.02em;
  text-align: right;
  direction: rtl;
  width: 20vw;
  font-family: iran-yekan, serif;
  font-size: 1.1vw;
  font-weight: 400;
}

#catalog-cover {
  width: 19vw;
}

#catalog-button {
  p {
    color: #26FF7B;
    font-size: 1vw;
    line-height: 1.5vw;
    letter-spacing: 0.03em;
  }

  img {
    width: 0.9vw;
  }

  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 10.9vw;
  border-radius: 0;
  border-style: solid;
  border-color: #26FF7B;
  border-width: 1px;
}

#catalog-button:hover {
  background-color: rgba(255, 255, 255, 0.8);
}

.catalog-link {
  margin-top: 0.5vw;
  position: relative;
  z-index: 100;
  margin-right: 1vw;
}

@media screen and (max-width: 600px){
  #catalog {
    flex-direction: column-reverse;
    height: 50vh;
  }

  #catalog-cover {
    width: 60vw;
  }

  #catalog-description {
    font-size: 4vw;
    text-align: center;
    width: 60vw;
  }

  #catalog-button {
    p {
      font-size: 4vw;
      line-height: 7vw;
      letter-spacing: 0.03em;
    }

    img {
      width: 3vw;
    }

    width: 35vw;
  }


  .catalog-link {
    margin-top: 7vw;
  }

  #catalog-right {
    justify-content: space-between;
    align-items: center;
  }
}
